body {
  background: black;
}

canvas {
  display: inline-block;
  height: 95vmin;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95vmin;
}
